<style>
    #section--{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        background-color: {{ section.settings.back_color }};
    }

    @media (max-width: 768px) {
        #section--{{ section.id }} {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }
    }
</style>
<div class="section-width new-difference" id="section--{{ section.id }}">
    <div class="new-difference--wrapper">
        <div class="new-difference--body">
            {% if section.settings.heading != blank %}
                <h2 class="new-difference--heading">
                    {{ section.settings.heading }}
                </h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="new-difference--text">
                    {{ section.settings.text }}
                </div>
            {% endif %}
            {% assign header = section.blocks | where: "type", "header" | first %}
            {% assign items = section.blocks | where: "type", "item" %}
            {% if items.size > 0 %}
                <div class="new-difference--item__grid">
                    {% if header != blank %}
                        <div class="new-difference--item__grid-header">
                            <h4 class="new-difference--item__grid-heading">
                                {{ header.settings.heading }}
                            </h4>
                            <p class="new-difference--item__grid-subheading">
                                {{ header.settings.subheading }}
                            </p>
                        </div>
                    {% endif %}
                    <div class="new-difference--item__grid-inner">
                        {% for item in items %}
                            <div class="new-difference--item__grid-item">
                                {% if item.settings.image != blank %}
                                    <div class="new-difference--item__grid-image">
                                        {{ item.settings.image | img_url: '170x' | img_tag }}
                                    </div>
                                {% endif %}
                                {% if item.settings.text != blank %}
                                    <div class="new-difference--item__grid-text">
                                        {{ item.settings.text }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="new-difference--image">
            {{ section.settings.image | img_url: '480x' | img_tag }}
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "New Difference Section",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Header",
                "default": "The Dr. Jen Difference"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text",
                "default": "<p>We use the clinically-proven optimal concentration of 10% Nano-Hydroxyapatite</p>"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "color",
                "id": "back_color",
                "label": "Background Color",
                "default": "#FFFFFF"
            },
            {
                "type": "header",
                "content": "Section Padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding Top",
                "default": 60
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Padding Bottom",
                "default": 60
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Mobile Padding Top",
                "default": 60
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 100,
                "step": 5,
                "unit": "px",
                "label": "Mobile Padding Bottom",
                "default": 60
            }
        ],
        "blocks": [
            {
                "type": "header",
                "name": "Header",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading",
                        "default": "SEM Observation (Ohta 2007, x 10,000)"
                    },
                    {
                        "type": "text",
                        "id": "subheading",
                        "label": "SubHeading",
                        "default": "Photos supplied by Sangi."
                    }
                ]
            },
            {
                "type": "item",
                "name": "Item",
                "limit": 3,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "New Difference Section"
            }
        ]
    }
{% endschema %}