<style>
  #section--{{ section.id }}{
    background-color: #FEFAF5;
    {% if section.settings.back_img != blank %}
      background-image: url('{{ section.settings.back_img | img_url: '1920x' }}');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    {% endif %}
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media (max-width: 768px) {
    #section--{{ section.id }}{
        padding-top: {{ section.settings.padding_top_mobile }}px;
        padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
</style>
<div id="section--{{ section.id }}">
  <div class="page-width upcoming-experience">
    {% if section.settings.heading != blank %}
      <h1 class="upcoming-experience__heading">{{ section.settings.heading }}</h1>
    {% endif %}
    <div class="upcoming-experience__flex">
      <div class="upcoming-experience__image">
        <div class="upcoming-experience__image-links">
          {% if section.settings.btn1_label != blank and section.settings.btn1_link != blank %}
            <a class="btn btn--secondary" href="{{ section.settings.btn1_link }}">{{ section.settings.btn1_label }}</a>
          {% endif %}
          {% if section.settings.btn2_label != blank and section.settings.btn2_link != blank %}
            <a class="btn btn--secondary" href="{{ section.settings.btn2_link }}">{{ section.settings.btn2_label }}</a>
          {% endif %}
          {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | img_url: '500x' }}" alt="Upcoming Experience">
          {% endif %}
        </div>
      </div>
      <div class="upcoming-experience__list">
        {% for block in section.blocks %}
          <div class="upcoming-experience__item">
            <div class="upcoming-experience__item-cd">
              <h2 class="upcoming-experience__item-day">{{ block.settings.day }}</h2>
              <p class="upcoming-experience__item-month">{{ block.settings.month }}</p>
            </div>
            <div class="upcoming-experience__item-text">
              <h4 class="upcoming-experience__item-heading">{{ block.settings.heading }}</h4>
              <div class="upcoming-experience__item-body">{{ block.settings.text }}</div>
            </div>
            <div class="upcoming-experience__item-link">
              <a href="{{ block.settings.link }}" class="small-hide">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="26"
                  viewBox="0 0 14 26"
                  fill="none">
                  <path d="M1 1.00012L13 13.0001L1 25.0001" stroke="#3E1D25" />
                </svg>
              </a>
              <a class="btn btn--secondary medium-hide large-up-hide" href="{{ block.settings.link }}">
                VIEW EVENT
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Upcoming Experiences",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Explore upcoming experiences"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Button1"
      },
      {
        "type": "text",
        "id": "btn1_label",
        "label": "Button Label",
        "default": "Ticketed experiences"
      }, {
        "type": "url",
        "id": "btn1_link",
        "label": "Button Link"
      }, {
        "type": "header",
        "content": "Button2"
      }, {
        "type": "text",
        "id": "btn2_label",
        "label": "Button Label",
        "default": "Live music & events"
      }, {
        "type": "url",
        "id": "btn2_link",
        "label": "Button Link"
      }, {
        "type": "image_picker",
        "id": "back_img",
        "label": "Background Image"
      }, {
        "type": "header",
        "content": "Section Padding"
      }, {
        "type": "range",
        "id": "top_padding",
        "min": 50,
        "max": 200,
        "step": 5,
        "default": 100,
        "unit": "px",
        "label": "Top Padding"
      }, {
        "type": "range",
        "id": "bottom_padding",
        "min": 50,
        "max": 200,
        "step": 5,
        "default": 100,
        "unit": "px",
        "label": "Bottom Padding"
      }, {
        "type": "range",
        "id": "top_padding_mobile",
        "min": 20,
        "max": 100,
        "step": 5,
        "default": 40,
        "unit": "px",
        "label": "Mobile Top Padding"
      }, {
        "type": "range",
        "id": "bottom_padding_mobile",
        "min": 20,
        "max": 100,
        "step": 5,
        "default": 40,
        "unit": "px",
        "label": "Mobile Bottom Padding"
      }
    ],
    "blocks": [
      {
        "type": "experience",
        "name": "Experience",
        "settings": [
          {
            "type": "text",
            "id": "day",
            "label": "Day"
          },
          {
            "type": "text",
            "id": "month",
            "label": "Month"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Upcoming Experiences"
      }
    ]
  }
{% endschema %}